h1, h2{
	font-family: monospace;
	text-align: center;
}

/* My beloved footer */

footer{

	position: absolute;
	bottom: 0;
	right: 0;

	text-align: right;
	font-size: 0.8em;
	color: grey;
    margin: 20px;
    font-family: 'Share Tech Mono', monospace;
}

footer a{
	color: grey;
}

footer a:visited{
	color: grey;
}

footer a:hover{
	color: black;
}