
h1, h2{
    text-align: center;
    font-family: monospace;
}

.guessed{
    color: red;
}

footer{
	text-align: right;
	font-size: 0.8em;
	color: grey;
    margin: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
    font-family: 'Share Tech Mono', monospace;
}

footer a{
	color: grey;
}

footer a:visited{
	color: grey;
}

footer a:hover{
	color: black;
}