.title{
	font-family: monospace;
	text-align: center;
	font-size: 0.9em;
	padding: 10px;
}

a{
    color: grey;
    transition: color 0.5s ease;
}

a:visited{
    color: grey;
}

a:hover{
    color: black;
}

.container{
	max-width: 900px;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
	display: grid;
	grid-template-columns: auto auto;
}

.challenges{
	font-family: monospace;
	font-size: 0.9em;
}

footer{
	text-align: right;
	font-size: 0.8em;
	color: grey;
    margin: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
    font-family: 'Share Tech Mono', monospace;
}

footer a{
	color: grey;
}

footer a:visited{
	color: grey;
}

footer a:hover{
	color: black;
}

@media screen and (max-width: 575px) {
    footer{
		position: static;
	}

	.container{
		grid-template-columns: auto;
	}
}