<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Happy+Monkey|Share+Tech+Mono" rel="stylesheet">
    <link rel="stylesheet" href="../css/day4.css"/>
    <title>Day 4</title>
    <script src="../js/day4.js"></script>
</head>
<body>
    <h1>Check the dev console :)</h1>
    <h2>Refresh if necessary ;)</h2>

    <footer>
        Made with &#9889; by <a href="https://github.com/boristane" target="_blank">Boris Tane</a> as part of <a target="_blank" href="https://javascript30.com/">#javascrip30</a> &#128293
    </footer>
</body>
</html>